$font_color: #1d1d1d;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: $font_color;
	background: #ffffff;
}

.menu {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 40px 0 40px;
	margin: 0 0 40px 0;

	.logo {
		width: 72px;
		height: 72px;
		margin: 0 40px 0 0;
		background-image: url("../static/logo.png");
		background-size: 72px 72px;
	}

	.search {
		flex-grow: 1;

		.input {
			display: flex;
			justify-content: left;
			align-items: center;
			border-width: 0;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			width: 100%;
			max-width: 500px;
			font-size: 18px;
			margin: 32px 0 0 0;
		}

		.material-icons {
			font-size: 24px;
			margin: 0 0 0 8px;
		}

		input {
			width: 100%;
			font-size: 18px;
			padding: 8px;
			margin: 0 8px 0 0;
			border-width: 0;
			background: none;
		}

		input:focus {
			outline: none;
		}

		.objects {
			height: 32px;
			display: flex;
			justify-content: left;
			align-items: center;
			padding: 4px 0 0 0;
			font-size: 12px;

			.object-label {
				padding: 4px 6px 4px 6px;
				margin: 0 6px 0 0;
				border-radius: 3px;
				color: #fff;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}

			.object-label:hover {
				cursor: pointer;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}

			.inactive {
				background: #919191 !important;
				box-shadow: none;
			}
		}
	}

	.colormode {
		display: flex;
		justify-content: center;
		align-items: center;

		.light, .dark {
			width: 40px;
			height: 40px;
			background: #fff;
			border: solid 1px #252525;
		}

		.dark {
			background: #252525;
			border: solid 1px #fff;
		}

		.light:hover, .dark:hover {
			cursor: pointer;
		}
	}
}

.main {
	padding: 0 40px 40px 40px;
}

.end {
	box-sizing: border-box;
	width: 100%;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 10px;

	a {
		color: $font_color;
		text-decoration: underline;
	}
}

.blue {
	background: #198CFF;
}

.green {
	background: #14CC52;
}

.orange {
	background: #FFBA75;
}

.card {
	padding: 12px;
	margin: 10px 0 10px 0;

	.title {
		font-size: 18px;
		font-weight: bold;
	}
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-blue, .card-green, .card-orange {
	border-style: solid;
	border-width: 0 0 0 2px;
	border-color: #198CFF;
}

.card-green {
	border-color: #14CC52;
}

.card-orange {
	border-color: #FFBA75;
}

input {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

.dark-mode {
	html, body {
		background: #252525;
		color: #fff;
	}

	.menu {
		.search {
			.input {
				background: #414141;
			}
		}
	}

	.end {
		a {
			color: #fff;
		}
	}

	input {
		color: #fff;
	}
}
