$font_color: #1d1d1d;
$font_size: 14px;

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font_size;
	font-family: 'Open Sans', sans-serif;
	color: $font_color;
	background: #ffffff;
}

.menu {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 40px 20px 40px;
	background: #fff;

	.logo {
		display: block;
		width: 72px;
		height: 72px;
		margin: 0 40px 0 0;
		background-image: url("../static/logo.png");
		background-size: 72px 72px;
	}

	.search {
		flex-grow: 1;

		.input {
			position: relative;
			display: flex;
			justify-content: left;
			align-items: center;
			border-width: 0;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			width: 100%;
			max-width: 500px;
			font-size: 18px;
			margin: 32px 0 0 0;

			.results {
				width: 100%;
				position: absolute;
				left: 0;
				top: 42px;
				background: #fff;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				border-radius: 3px;

				.result {
					padding: 8px;
					font-size: $font_size;
					border-radius: 3px;
				}

				.result:hover {
					background: #e1e1e1;
					cursor: pointer;
				}
			}
		}

		.material-icons {
			font-size: 24px;
			margin: 0 0 0 8px;
		}

		input {
			width: 100%;
			font-size: 18px;
			padding: 8px;
			margin: 0 8px 0 0;
			border-width: 0;
			background: none;
		}

		input:focus {
			outline: none;
		}

		.objects {
			height: 32px;
			display: flex;
			justify-content: left;
			align-items: center;
			padding: 4px 0 0 0;
			font-size: 12px;

			.object-label {
				padding: 4px 6px 4px 6px;
				margin: 0 6px 0 0;
				border-radius: 3px;
				color: #fff;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				text-decoration: none;
			}

			.object-label:hover {
				cursor: pointer;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}

			.inactive {
				background: #919191 !important;
				box-shadow: none;
			}
		}
	}

	.colormode {
		display: flex;
		justify-content: center;
		align-items: center;

		.light, .dark {
			width: 40px;
			height: 40px;
			background: #fff;
			border: solid 1px #252525;
		}

		.dark {
			background: #252525;
			border: solid 1px #fff;
		}

		.light:hover, .dark:hover {
			cursor: pointer;
		}
	}
}

.main {
	padding: 140px 40px 120px 40px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	.content {
		flex-grow: 1;
		max-width: 880px;
		margin: 0 20px 0 0;
	}
}

.centered {
	justify-content: center;
}

.end {
	box-sizing: border-box;
	width: 100%;
	bottom: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 12px;

	a {
		color: $font_color;
		text-decoration: underline;
		margin: 0 8px 0 0;
	}

	span {
		margin: 0 8px 0 0;
	}
}

.article-info, .article-tags {
	margin: 0 0 20px 0;
}

.article-content {
	line-height: 1.5;

	.table-wrapper {
		overflow-x: auto;
		overflow-y: hidden;
	}

	table {
		width: 100%;
		table-layout: fixed;

		td {
			padding: 4px;
			margin: 0;
			border-width: 0;
			background: #f3f3f3;
		}

		th {
			background: #6da5ff;
		}
	}

	img {
		display: block;
		max-width: 100%;
		max-height: 500px;
		margin: 20px auto 20px auto;
	}

	u {
		text-decoration: none;
		background: #fff600;
	}

	hr {
		width: 90%;
		height: 1px;
		margin: 20px auto 20px auto;
		border-width: 0;
		background: #e1e1e1;
	}
}

.blue {
	background: #198CFF;
}

.green {
	background: #14CC52;
}

.orange {
	background: #ff8c19;
}

.font-blue {
	color: #198CFF;
}

.font-green {
	color: #14CC52;
}

.font-orange {
	color: #ff8c19;
}

.card {
	padding: 12px;
	margin: 10px 0 10px 0;

	.title {
		font-size: 18px;
		font-weight: bold;
	}
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-blue, .card-green, .card-orange {
	border-style: solid;
	border-width: 0 0 0 2px;
	border-color: #198CFF;
}

.card-green {
	border-color: #14CC52;
}

.card-orange {
	border-color: #FFBA75;
}

.label {
	padding: 4px 6px 4px 6px;
	margin: 0 4px 4px 0;
	border-radius: 3px;
	color: #fff;
}

.label:hover {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

h1, h2, h3, h4 {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0;
}

h1.article-title {
	font-size: 32px;
	margin-bottom: 10px;
}

h2, h3, h4 {
	font-size: 20px;
	margin: 10px 0 10px 0;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

p {
	margin: 10px 0 10px 0;
	padding: 0;
}

a {
	color: #198CFF;
	text-decoration: none;
}

.dark-mode {
	html, body {
		background: #252525;
		color: #fff;
	}

	.menu {
		background: #252525;

		.search {
			.input {
				background: #414141;

				.results {
					background: #414141;

					.result:hover {
						background: #5b5b5b;
					}
				}
			}
		}
	}

	.end {
		a {
			color: #fff;
		}
	}

	.article-content {
		table {
			td {
				background: #414141;
			}

			th {
				background: #5b5b5b;
			}
		}

		u {
			background: #514f00;
		}
	}

	input {
		color: #fff;
	}
}
